Generate Video.json
{
  "name": "Generate Video",
  "nodes": [
    {
      "parameters": {
        "name": "Video Topik 3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1dVazaqKERYCG57EYIDXo9oe4jbb9iRwU",
          "mode": "list",
          "cachedResultName": "Hasil Topik 2 & 3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dVazaqKERYCG57EYIDXo9oe4jbb9iRwU"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1328,
        176
      ],
      "id": "75685d19-58dd-463b-8c28-9195d2fc2cd9",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lM0fOAFkSQvFjJQI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Generate Gambar Konten Otomatis",
        "formFields": {
          "values": [
            {
              "fieldLabel": "prompt",
              "placeholder": "Masukkan prompt disini"
            },
            {
              "fieldLabel": "img_url",
              "placeholder": "Masukkan url gambar disini"
            },
            {
              "fieldLabel": "api_key",
              "placeholder": "Masukkan api key disini"
            },
            {
              "fieldLabel": "task_type",
              "placeholder": "Masukkan task type disini"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        128,
        192
      ],
      "id": "84a1dce0-aab0-471e-a9cc-7292b3f79862",
      "name": "Submit Text Prompt untuk Generate Video",
      "webhookId": "63497384-09c5-444c-9a58-132868e007cc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "=Bearer {{ $json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/image-to-video\",\n  \"input\": {\n    \"image_urls\": [\n      \"{{ $json.img_url.replace('file/d/', 'uc?export=view&id=').split('/view')[0] }}\"\n    ],\n    \"prompt\": \"{{$json.prompt}}\",\n    \"mode\": \"normal\",\n    \"duration\": \"6\",\n    \"resolution\": \"480p\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        192
      ],
      "id": "e24803c2-d0a9-41ea-ac20-76755ce74b8c",
      "name": "Mengirim Video Generation Request ke"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        448,
        192
      ],
      "id": "64ca079d-515b-4cd8-9baa-69fc34ef1d37",
      "name": "Menunggu Proses Generate Video",
      "webhookId": "235a92d3-91d6-43aa-8a05-becbae90c882"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Mengirim Video Generation Request ke').first().json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "=application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Submit Text Prompt untuk Generate Video').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        192
      ],
      "id": "9fa9cdb9-1bad-46ed-8d7f-f4ed527639d4",
      "name": "Mendapatkan Status Generate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "de0a54ce-6ee6-402c-bba9-b5291a66210b",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        192
      ],
      "id": "f5ee446d-bb10-4fe1-a365-46c041c11ebf",
      "name": "Check Jika Generate Sudah Selesai"
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  videoUrl: result.resultUrls?.[0] || null\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        176
      ],
      "id": "505a7531-d9be-4076-8c2f-4d57611fcb13",
      "name": "Parse Video URL"
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        176
      ],
      "id": "07d95ca3-b017-473a-afe0-d2ad0287491a",
      "name": "Download Video"
    }
  ],
  "pinData": {},
  "connections": {
    "Submit Text Prompt untuk Generate Video": {
      "main": [
        [
          {
            "node": "Mengirim Video Generation Request ke",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengirim Video Generation Request ke": {
      "main": [
        [
          {
            "node": "Menunggu Proses Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menunggu Proses Generate Video": {
      "main": [
        [
          {
            "node": "Mendapatkan Status Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mendapatkan Status Generate": {
      "main": [
        [
          {
            "node": "Check Jika Generate Sudah Selesai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Jika Generate Sudah Selesai": {
      "main": [
        [
          {
            "node": "Parse Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menunggu Proses Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Video URL": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a2214a9a-66bf-4a64-8857-019b5fd25ada",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55ea0f13ad0777965fe674dc31e65d29483bbaa980018a225cbad700b608464b"
  },
  "id": "P4TDygSbhY8VkMYV",
  "tags": []
}