Pembuatan Konten Rutin.json
{
  "name": "Pembuatan Konten Rutin",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1104,
        880
      ],
      "id": "4414cddd-c369-48e3-b970-744f988b8be0",
      "name": "Telegram Trigger",
      "webhookId": "2284361a-0d7e-433c-94fb-fd52e7532582",
      "credentials": {
        "telegramApi": {
          "id": "dlQAvQdNKd3h7RMf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "=Javier menerima pesanmu...",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -912,
        1120
      ],
      "id": "508edc05-fef4-4351-825b-d182e62589c9",
      "name": "Send a text message",
      "webhookId": "8cd061bd-5ded-45a7-8a6b-f5b599d2960b",
      "credentials": {
        "telegramApi": {
          "id": "dlQAvQdNKd3h7RMf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "aeb78097-10f2-4f26-843a-7e5b38947396"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/gambar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9c8e2078-a5a1-4e16-9c2e-130529f0d086"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "PROMPT_GAMBAR:",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "13c452d1-3947-4f37-9151-22cc14327622"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6a712e7d-6c10-4216-acab-d22c79959e80"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4306f500-3a65-4735-899f-e8810a1676e3",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "PROMPT_VIDEO:",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -912,
        880
      ],
      "id": "b0ecb322-3cf1-4733-8b2c-0bb1c221923a",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -704,
        624
      ],
      "id": "8a210a19-5ec4-4a25-a119-cabf98861eb2",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Harap ketik /start untuk memulai.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -496,
        672
      ],
      "id": "4f3983ec-01a7-4826-a3d8-af21958ab6a4",
      "name": "Send a text message1",
      "webhookId": "879cec28-d263-48bd-bb12-5a9f642abb58",
      "credentials": {
        "telegramApi": {
          "id": "dlQAvQdNKd3h7RMf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "tanggal",
              "value": "={{ $today }}",
              "type": "string",
              "id": "56f50ee9-de8d-4a1c-989a-4e00a482684a"
            },
            {
              "name": "tema",
              "value": "Kopi",
              "type": "string",
              "id": "0746a529-7709-42a0-8f18-b9b2df6176ad"
            },
            {
              "name": "waktu",
              "value": "={{ $now }}",
              "type": "string",
              "id": "acfda8e0-883f-45ab-8912-0e1036a5e1be"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        512
      ],
      "id": "9bff15c0-4e80-4129-9e7d-e78ea254a5be",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -288,
        688
      ],
      "id": "65381ba1-fa9f-490f-ab14-240a9a79b3c2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ys0LEVCsPD21qAK1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"time_slot\": \"\",\n    \"title\": \"\",\n    \"platforms\": [],\n    \"focus\": \"\",\n    \"ideas\": []\n  }\n]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -144,
        688
      ],
      "id": "9f638652-5813-441d-b1b4-6622e42439fe",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Buat rencana konten harian untuk {{ $json.tanggal }} dengan tema  {{ $json.tema }} \n\nSaya mau Anda buatnya dalam bentuk nomor atau point.\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -288,
        512
      ],
      "id": "ec7cfc82-3f47-40bf-9c66-3d7d83ae22a4",
      "name": "Membuat Ide Konten"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "time_slot",
              "value": "={{ $json.output[0].time_slot }}",
              "type": "string"
            },
            {
              "name": "title",
              "value": "={{ $json.output[0].title }}",
              "type": "string"
            },
            {
              "name": "platform",
              "value": "={{ $json.output[0].platforms }}",
              "type": "string"
            },
            {
              "name": "focus",
              "value": "={{ $json.output[0].focus }}",
              "type": "string"
            },
            {
              "name": "ide",
              "value": "={{ $json.output[0].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        32
      ],
      "id": "d1056555-c70c-4882-9c58-cbc703ebcc55",
      "name": "Output 1"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        256,
        432
      ],
      "id": "44be5141-7817-425f-890a-dd669af1c3cb",
      "name": "Merge"
    },
    {
      "parameters": {
        "chatId": "5681809332",
        "text": "=Title: {{ $json.title }}\n\nPlatform: {{ (Array.isArray($json.platform) ? $json.platform.join(', ') : $json.platform) || 'Tidak ada platform' }}\n\nIde: {{ (Array.isArray($json.ide) ? $json.ide.join(', ') : $json.ide) || 'Tidak ada ide' }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        464
      ],
      "id": "19b8a8a1-901b-42b4-b59e-dd6fdb8eef04",
      "name": "Send a text message2",
      "webhookId": "6ed64d66-f71a-45d4-ad50-7477f2acba9f",
      "credentials": {
        "telegramApi": {
          "id": "dlQAvQdNKd3h7RMf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Siap! Silakan kirimkan prompt dan API Key kamu dengan awalan kata *PROMPT_GAMBAR:* dan pisahkan dengan garis lurus `|`.\n\nContoh:\n`PROMPT_GAMBAR: Kopi Selayu Temanggung di meja estetik | 47041fe8d185d3...`",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -704,
        768
      ],
      "id": "0822ebba-6800-496a-8230-b209293918f2",
      "name": "Minta Prompt Gambar",
      "webhookId": "91d23cc0-2c56-472a-93fe-9dab3ad93b3a",
      "credentials": {
        "telegramApi": {
          "id": "dlQAvQdNKd3h7RMf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "prompt",
              "value": "={{ ($json.message.text.split('PROMPT_GAMBAR:')[1] || '').split('|')[0].trim() }}",
              "type": "string"
            },
            {
              "name": "api_key",
              "value": "={{ ($json.message.text.split('|')[1] || '').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        944
      ],
      "id": "ae71ae53-3390-4cf1-8154-7f7dbe7e5d1e",
      "name": "Extract Text Gambar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "=Bearer {{ $json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/text-to-image\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt.replace(/\\n/g, ' ').replace(/\"/g, '\\\\\"') }}\",\n    \"aspect_ratio\": \"3:2\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -496,
        944
      ],
      "id": "bb92ea8a-0221-4951-ad9d-ec7a4137b5aa",
      "name": "HTTP Request Gambar"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -288,
        944
      ],
      "id": "86ac759e-f550-4f17-9080-3212be078072",
      "name": "Wait Gambar",
      "webhookId": "27609f81-1c42-4ea0-9378-a5af53799a69"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('HTTP Request Gambar').first().json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Extract Text Gambar').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -80,
        944
      ],
      "id": "1037a136-779d-4064-8045-00c5f2ae7732",
      "name": "HTTP Request3 Gambar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        944
      ],
      "id": "b938f497-046c-4843-9b69-94bfaa9a8ea0",
      "name": "If Gambar"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.data || $json;\nif (!data || !data.resultJson) return [{ img1: null }];\nlet result = typeof data.resultJson === 'string' ? JSON.parse(data.resultJson) : data.resultJson;\nreturn [{ img1: result.resultUrls[0] || null, img2: result.resultUrls[1] || null, img3: result.resultUrls[2] || null, img4: result.resultUrls[3] || null }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        928
      ],
      "id": "8debec40-49cd-4a89-b1fc-d3a11743e1d5",
      "name": "Code Parse Gambar"
    },
    {
      "parameters": {
        "jsCode": "const urls = [$json.img1, $json.img2, $json.img3, $json.img4].filter(Boolean);\nreturn urls.map((url, index) => ({ json: { url, index: index + 1 } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        928
      ],
      "id": "ed591978-84bf-41a9-9d63-c657bece4676",
      "name": "Code Array Gambar"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        752,
        928
      ],
      "id": "7544dbca-e136-4ee9-b92b-06fb96803e9c",
      "name": "Download Gambar"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        928
      ],
      "id": "512e03fd-9da3-4dcd-9dbd-46b2370d4ca0",
      "name": "Send a photo message",
      "webhookId": "97b53ae5-7499-4290-916f-ca05e978a8eb",
      "credentials": {
        "telegramApi": {
          "id": "dlQAvQdNKd3h7RMf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09c97c1b-578d-4517-8f43-8e6ae14228df",
              "name": "time_slot",
              "value": "={{ $json.output[3].time_slot }}",
              "type": "string"
            },
            {
              "id": "2f2d18ef-15a2-43a8-85ee-b7ed0535b203",
              "name": "title",
              "value": "={{ $json.output[3].title }}",
              "type": "string"
            },
            {
              "id": "475f2470-d79a-4c4d-aa02-6f873500244c",
              "name": "platform",
              "value": "={{ $json.output[3].platforms }}",
              "type": "string"
            },
            {
              "id": "b0a20d58-7a3d-4553-9da4-60cb7bc8aac6",
              "name": "focus",
              "value": "={{ $json.output[3].focus }}",
              "type": "string"
            },
            {
              "id": "99d20cd8-cb23-4208-b85a-3f6dc261f261",
              "name": "ide",
              "value": "={{ $json.output[3].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        512
      ],
      "id": "f872ab49-ae9a-4117-b614-c3d51eab6b3f",
      "name": "Output  4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09c97c1b-578d-4517-8f43-8e6ae14228df",
              "name": "time_slot",
              "value": "={{ $json.output[2].time_slot }}",
              "type": "string"
            },
            {
              "id": "2f2d18ef-15a2-43a8-85ee-b7ed0535b203",
              "name": "title",
              "value": "={{ $json.output[2].title }}",
              "type": "string"
            },
            {
              "id": "475f2470-d79a-4c4d-aa02-6f873500244c",
              "name": "platform",
              "value": "={{ $json.output[2].platforms }}",
              "type": "string"
            },
            {
              "id": "b0a20d58-7a3d-4553-9da4-60cb7bc8aac6",
              "name": "focus",
              "value": "={{ $json.output[2].focus }}",
              "type": "string"
            },
            {
              "id": "99d20cd8-cb23-4208-b85a-3f6dc261f261",
              "name": "ide",
              "value": "={{ $json.output[2].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        352
      ],
      "id": "093b7eed-3c94-4b42-88fb-45661aceda7d",
      "name": "Output 3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09c97c1b-578d-4517-8f43-8e6ae14228df",
              "name": "time_slot",
              "value": "={{ $json.output[1].time_slot }}",
              "type": "string"
            },
            {
              "id": "2f2d18ef-15a2-43a8-85ee-b7ed0535b203",
              "name": "title",
              "value": "={{ $json.output[1].title }}",
              "type": "string"
            },
            {
              "id": "475f2470-d79a-4c4d-aa02-6f873500244c",
              "name": "platform",
              "value": "={{ $json.output[1].platforms }}",
              "type": "string"
            },
            {
              "id": "b0a20d58-7a3d-4553-9da4-60cb7bc8aac6",
              "name": "focus",
              "value": "={{ $json.output[1].focus }}",
              "type": "string"
            },
            {
              "id": "99d20cd8-cb23-4208-b85a-3f6dc261f261",
              "name": "ide",
              "value": "={{ $json.output[1].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        192
      ],
      "id": "46ebdb5d-7140-498d-830b-887616dcd9c3",
      "name": "Output 2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Silakan Upload Gambar ke bot ini dengan memberikan Caption -> PROMPT_VIDEO: deskripsi gerakan | api_key_kamu | URL Gambar",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -560,
        1104
      ],
      "id": "40d2065a-9d4c-49cd-93fd-5cdd4b98c80d",
      "name": "Minta Prompt Video",
      "webhookId": "a7bb38e7-be5a-430d-bc90-4bf1f383c208",
      "credentials": {
        "telegramApi": {
          "id": "dlQAvQdNKd3h7RMf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "raw_text",
              "value": "={{ $json.message.caption || $json.message.text }}",
              "type": "string",
              "id": "ab99a927-866d-40fb-b07b-f56d5d2d9895"
            },
            {
              "name": "prompt",
              "value": "={{ ($json.message.caption || $json.message.text).split('PROMPT_VIDEO:')[1].split('|')[0].trim() }}",
              "type": "string",
              "id": "ce538f7e-b0bc-41d1-aeb6-f325d5ff3f3a"
            },
            {
              "name": "api_key",
              "value": "={{ (($json.message.caption || $json.message.text).split('|')[1] || '').trim() }}",
              "type": "string",
              "id": "a35bd6f6-570e-49ef-92fb-34cd861a7e69"
            },
            {
              "name": "img_url",
              "value": "={{ (($json.message.caption || $json.message.text).split('|')[2] || '').trim() }}",
              "type": "string",
              "id": "a40e1e47-4666-4fa0-9345-5b7fce06c3ed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        1264
      ],
      "id": "234076c2-dc35-4c64-95e3-19bbf71052bc",
      "name": "Extract Text Video1"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        1264
      ],
      "id": "6a05d663-60df-48d2-8470-0adf9e3f3bc8",
      "name": "Send a video message1",
      "webhookId": "92323bec-18a7-4d7e-b452-837dab03ae1c",
      "credentials": {
        "telegramApi": {
          "id": "dlQAvQdNKd3h7RMf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        1264
      ],
      "id": "7255b1e0-5394-4c96-a3a5-1f1cff92d7a7",
      "name": "Download Video1"
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\nreturn [{ videoUrl: result.resultUrls?.[0] || null }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        1264
      ],
      "id": "c38391ad-8649-48bc-b233-98e14b49279e",
      "name": "Code Parse Video1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        1264
      ],
      "id": "04f556da-1b26-41db-b90e-b61c59be77ab",
      "name": "If Video1"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('HTTP Request Video1').first().json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Extract Text Video1').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        48,
        1264
      ],
      "id": "0dc5d676-2a2c-4997-b0bf-c21432deea87",
      "name": "HTTP Request3 Video1"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -160,
        1264
      ],
      "id": "286fa3b7-1926-4dde-bed8-5ae66706e704",
      "name": "Wait Video1",
      "webhookId": "fe4e5f07-4b53-4afc-8c31-ed5644c95a1e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "=Bearer {{ $json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"model\": \"grok-imagine/image-to-video\",\n  \"input\": {\n    \"image_urls\": [\n      \"{{$json.img_url}}\"\n    ],\n    \"prompt\": \"{{ $json.prompt.replace(/\\n/g, ' ').replace(/\"/g, '\\\\\\\"') }}\",\n    \"mode\": \"normal\",\n    \"duration\": \"6\",\n    \"resolution\": \"480p\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -368,
        1264
      ],
      "id": "a9caff57-29e4-4902-9b76-d3af1fc0c20d",
      "name": "HTTP Request Video1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Minta Prompt Gambar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text Gambar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Minta Prompt Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Membuat Ide Konten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Membuat Ide Konten",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Membuat Ide Konten",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Ide Konten": {
      "main": [
        [
          {
            "node": "Output 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output  4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text Gambar": {
      "main": [
        [
          {
            "node": "HTTP Request Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Gambar": {
      "main": [
        [
          {
            "node": "Wait Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Gambar": {
      "main": [
        [
          {
            "node": "HTTP Request3 Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3 Gambar": {
      "main": [
        [
          {
            "node": "If Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Gambar": {
      "main": [
        [
          {
            "node": "Code Parse Gambar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Parse Gambar": {
      "main": [
        [
          {
            "node": "Code Array Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Array Gambar": {
      "main": [
        [
          {
            "node": "Download Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Gambar": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output  4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Output 3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Output 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Text Video1": {
      "main": [
        [
          {
            "node": "HTTP Request Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video1": {
      "main": [
        [
          {
            "node": "Send a video message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Parse Video1": {
      "main": [
        [
          {
            "node": "Download Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Video1": {
      "main": [
        [
          {
            "node": "Code Parse Video1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3 Video1": {
      "main": [
        [
          {
            "node": "If Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Video1": {
      "main": [
        [
          {
            "node": "HTTP Request3 Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Video1": {
      "main": [
        [
          {
            "node": "Wait Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "003e96a2-0a8f-46e3-9a15-14f4cfc92e2a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55ea0f13ad0777965fe674dc31e65d29483bbaa980018a225cbad700b608464b"
  },
  "id": "rvGnMYkk1eQDWdEG",
  "tags": []
}